
<div> <header>
  <nav>
    <ul>
      <li><a href="/">Stellar Catalogue</a></li>
    </ul>
  </nav>
</header>


  <article>

    <section id="content">
      <app-home></app-home>
    </section>

  </article>


</div>

