@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

a[ id= "data" ]:target ~ div {
  -webkit-transform: translateY( -1000px );
  transform: translateY( -1000px );
}

a, a:visited {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Open Sans Condensed";
  font-size:  12px;
  background-color: black;
  background-image: url(https://static.pexels.com/photos/262669/pexels-photo-262669.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

body, html {
  height: 100%;
}


body > div {
  margin: 0 auto;
  height: 100%;

}

body > div > * {
  height: 100%;
}

body > div > * > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#loading {
  color: white;
  font-family: Orbitron;
  font-size: 14px;
  left: 50%;
  line-height: 60px;
  margin-left: -50px;
  margin-top: -150px;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 100px;
}

#loading img {
  width: 70px;
  margin: 0 auto;
}

article {
  padding: 0;
}




header {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 1);
  color: white;
  display: table;
  font-family: georgia;
  width: 100%;
  background-color: rgba(12,12,12,0.5);

}

header h1 {
  float: left;
  font-style: italic;
  font-weight: normal;
  width: 100%;
  font-size: 1.6em;
  padding: 8px 0;
}

header h1 img {
  float: left;
  width: 50px;
  margin: 0 15px;
}

nav {
  display: table-cell;
  vertical-align: bottom;
  padding-right: 30px;
  font-family: Orbitron;
}

nav ul {
  padding: 0px;
  margin: 0px;
  line-height: 10px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  text-align: center;

}

nav ul li a {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-family: Orbitron;
  line-height: 18px;
  padding: 20px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a span {
  color: white;
  display: block;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  line-height: 1;
  margin-top: 6px;
  text-transform: lowercase;
}

nav ul li.active {
  border-bottom: 1px solid #00adef;
  margin-bottom: -1px;

}

nav ul li.active::after {
  border-bottom: 5px solid #00adef;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  margin: -2px auto auto;
  width: 0;
}



article {
  clear: both;
  flex: 1;
  padding: 0 30px;
}

#home {
  font-size: 16px;
  text-align: center;
}

div#user {
  background-color: #00adef;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  position: fixed;
  right: 5px;
  text-align: center;
  top: 5px;
}

#user ul {
  padding: 0;
}


#user li {
  list-style: outside none none;
}

div#search > span, div#dbs > span, #data > span {
  border-bottom: 1px solid #aaa;
  color: #00adef;
  float: left;
  font-family: Orbitron;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 20px;
}


div#search, div#dbs, #data{
  background-color: rgba(12,12,12,0.5);
  border-radius: 5px;
  padding: 0 20px;
}

div.widget {
  padding: 10px 40px !important;
  color: white;
}

div#search {
  float: left;
  text-align: center;
  margin-right: 40px;
}

#dbs ul {
  -webkit-columns: 2; /* Chrome, Safari, Opera */
  -moz-columns: 2; /* Firefox */
  columns:  2;
  list-style: none;
  padding-left: 10px;
}

.db img {
  background-color: #00adef;
  border-radius: 90px;
  margin-right: 10px;
  padding: 2px;
  width: 10px;
}

#home img {
  padding-top: 40px;
  width: 150px;
}

#jcclogo {
  text-align: center;
}




#contact > div {
  font-size: 14px;
  font-family: Lato;
  margin: 0 auto;
  width: 200px;
}

#contact > div > div {
  text-align: left;
}


div#search  div.controls{
  float: left;
  font-family: Georgia,"Times New Roman",Times,serif;
  clear: left;
  padding: 0px 0 20px;

}

#surname > div:nth-child(1){

}

#content a, #content a:visited {
  color: #00adef;
}

#content h3 {
  font-weight: normal;
  text-align: center;
  font-family: Lato;
  text-transform: uppercase;
}

.search-container {
  border:1px solid #ddd;
  padding:3px;
}

.search-container > input, .search-container > button{
  border: 0 none;
  height: 25px;
  color: #777;
  font-style: italic;
  font-size: 20px;
  font-family: Georgia;
  text-align: center;
  width: 150px;
  background-color: rgba(12,12,12,0.5);
}

.search-container > input:focus {
  border: 0px;

}

.search-container > button{
  background: transparent url("./img/search-icon.png") no-repeat scroll right center;
  cursor: pointer;
  float: right;
  width: 30px;
}

.options > div  {
  float: left;
}

.login {
  text-align: center;
  background-color: white;
  width: 400px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 30px 39px;
  border: #00adef solid !important;
}

.controls > form > div {
  vertical-align: middle;
  padding: 10px 20px;
}

.options > div {
  padding: 3px 0;
  width: 70%;
  clear: left;
  margin: 0 auto;
  float: none;
}

.options select {
  font-family: Lato;
  font-weight: bold;
  width: 100%;
}

.options > div > div {
  clear: both;
}

.options > div > div:nth-child(1) {
  font-family: "Open Sans Condensed";
  font-size:  18px;
  font-weight: bold;
  color: #777;
}

div.surname {
  display: unset;
}

div.surname > div {
  display: table-cell;
  vertical-align: middle;
}



.options > div > div:not(:nth-child(1)), div.surname > div:nth-child(1) {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  color: #959595;

}

div.surname > div:nth-child(1) {
  font-size: 16px !important;
  padding-right: 0px;
}



section#content {
  clear: both;
  font-family: Georgia, Times, "Times New Roman", serife;
  padding: 30px 0px 0px 0px;
  line-height: 20px;

}


.db {
  border-radius: 5px;
  display: table;
  font-family: Lato;
  font-size: 14px;
  color: white;
}


.db.selected{
  color: #00adef;
}

p {
  font-family: Orbitron;
}

.db > span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: inline-block;
}

#dbs {
  float: left;
  padding-bottom: 20px !important;
  margin-right: 40px
}

#data {
  text-align: center;
  float: left;
}

#data > div {
  display: inline-block;
}

#data > div > div {
  color: white;
  float: right;

}

#data div.title {
  font-size: 20px;
  font-weight: bold;
  font-family: Lato;

}

#data div.desc {
  font-size: 12px;
  font-weight: normal;
  padding: 5px 0 15px;
  clear: right;
  font-family: Georgia;
  font-style: italic;
}


#data table {
  border: 1px solid white;
  border-radius: 5px;
  border-spacing: 0;
  width: 100%;
  font-family: Lato;
  margin: 0 auto;
}

#data thead {
  background: transparent  repeat scroll 0 0;
}

#data tr:nth-child(2n) {
  background: whitesmoke none repeat scroll 0 0;
}

#data th {
  font-size: 14px;
  padding: 15px 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

#data td {
  padding: 11px 10px;
  font-weight: normal;
}

#data tbody tr {
  background-color: white;
}


footer {
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid white;

}

footer > div {
  margin: 10px 30px;
}

footer > div:nth-child(1) {
  float: left;
}

footer > div:nth-child(2) {
  float: right;
}


footer img {
  width: 60px;
}

input[type='radio'] {
  margin: 0 10px 5px 0;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #89a711;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;

}

input[type="radio"]:checked + label::before {
  color: #89a711;
}
input[type="radio"] + label::before {
  background: #ddd none repeat scroll 0 0;
  border-radius: 10px;
  color: #ddd;
  content: "•";
  display: inline-block;
  font-size: 25px;
  height: 16px;
  line-height: 15px;
  margin-right: 5px;
  text-align: center;
  width: 16px;
}


.userlist img {
  width: 30px;
}



/* The CSS */
select {
  padding:10px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #00adef no-repeat scroll 90% center;
  color:white;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {padding-right:18px}
}

label {position:relative}
label:after {
  content:'<>';
  font:11px "Consolas", monospace;
  color:#aaa;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  right:8px; top:2px;
  padding:0 0 2px;
  border-bottom:1px solid #ddd;
  position:absolute;
  pointer-events:none;
}
label:before {
  content:'';
  right:6px; top:0px;
  width:20px; height:20px;
  background:#f8f8f8;
  position:absolute;
  pointer-events:none;
  display:block;
}
