<app-search (notify)='onNotify($event)'></app-search>
<div id="home" class="widget" *ngIf="visible">
<p>
The sky is full of stars. Explore it.
</p>
</div>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
